@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
  --primary-color: #38609d;
  --secondary-color: #8ea1c6;
  --hover: #c8d0db;
  --bg-color: #e5dfd8;
  --shadow: 5px 5px 10px #888888;
}

body {
  background-image: url('/public/wave.svg');
  background-repeat: repeat-x;
  background-color: var(--bg-color);
  font-family: 'Manrope';
  color: #f0f4f3;
  max-width: 90%;
  margin: 40px auto;
  padding: 20px;
}

.site-header {
  padding: 20px;
  font-size: 2em;
  color: #000;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
  color: var(--primary-color);
}

h2 {
  text-align: center;
  font-size: 1.2em;
  color: #000;
}

p {
  font-weight: 200;
  color: #000;
  font-size: 0.7em;
}

h5 {
  color: var(--secondary-color);
}

.App {
  font-size: 1.2em;
  margin: 10px auto;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
  border-bottom: 2px dotted;
}

.site-header h1 {
  font-size: 1.5em;
  color: var(--primary-color);
  padding-bottom: 10px;
  border-bottom: 2px solid;
}

/* product card */

.product-list {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  border: 1px solid #efefef;
  margin: 20px;
  width: calc(33.33% - 40px);
  align-items: center;
  box-sizing: border-box;
  display: inline-block;
  box-shadow: var(--shadow);
}
.card-content {
  max-width: 650px;
  margin: 10px auto;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 480px) {
  h2 {
    font-size: 1.2em;
  }
}
