@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
  --primary-color: #3d574d;
  --secondary-color: #617589;
  --hover: #a3b6bd;
  --bg-color: #f0f4f3;
}

body {
  margin: 0;
  font-family: 'Manrope';
  color: #f0f4f3;
  max-width: 700px;
  margin: 40px auto;
  padding: 20px;
}

h1,
h2,
h3,
h4 {
  font-weight: 300;
  color: var(--primary-color);
}

p {
  font-weight: 100;
  color: var(--primary-color);
  font-size: 0.7em;
}

h5 {
  font-weight: 200;
  color: var(--primary-color);
}

.App {
  font-size: 1.2em;
  margin: 10px auto;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--hover);
  border-bottom: 1px dotted;
}

.site-header h1 {
  font-size: 1.5em;
  color: var(--primary-color);
  padding-bottom: 10px;
  border-bottom: 2px solid;
}

/* product card */

.product-card {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #b69e96;
}
.card-content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
